@import url('https://fonts.googleapis.com/css2?family=Jura:wght@300;400;500;600;700&display=swap');
@import '@flaticon/flaticon-uicons/css/all/all.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

body, #root {
    width: 100%;
    height: 100dvh;
  
    margin: 0;
    padding: 0;
    background-color: #0A0A0C;
    
    font-family: "Jura", sans-serif;
    font-weight: 600;
    color: #0A0A0C;
}

input:-webkit-autofill {
    -webkit-text-fill-color: #FFFFFF !important;
    font-family: "Jura", sans-serif !important;
    font-size: 14px !important;
    font-weight: 600 !important;
    -webkit-box-shadow: 0 0 0px 1000px transparent inset;
    transition: background-color 5000s ease-in-out 0s;
}

.blue-background {
    position: absolute;
    inset: 0px;
    background: radial-gradient(circle at 100% 0%, rgba(30, 64, 175, 0.9) 2%, rgba(0, 0, 0, 0.5) 30%, black 100%), 
                radial-gradient(circle at 0% 100%, rgba(30, 64, 175, 0.85) 2%, rgba(0, 0, 0, 0.5) 30%, black 100%);
    background-blend-mode: screen;
}

.red-background {
    position: absolute;
    inset: 0px;
    background: radial-gradient(circle at 100% 0%, rgba(227, 37, 37, 0.5) 2%, rgba(0, 0, 0, 0.5) 30%, black 100%), 
                radial-gradient(circle at 0% 100%, rgba(227, 37, 37, 0.45) 2%, rgba(0, 0, 0, 0.5) 30%, black 100%);
    background-blend-mode: screen;
}

.white-background {
    position: absolute;
    inset: 0px;
    background: radial-gradient(circle at 100% 0%, rgba(255, 255, 255, 0.4) 2%, rgba(0, 0, 0, 0.5) 30%, black 100%), 
                radial-gradient(circle at 0% 100%, rgba(255, 255, 255, 0.35) 2%, rgba(0, 0, 0, 0.5) 30%, black 100%);
    background-blend-mode: screen;
}